export("%$%")
export(rQuery)
exportClasses(rQueryResult)
exportMethods("$")
exportMethods(rQuery.add)
exportMethods(rQuery.addClass)
exportMethods(rQuery.after)
exportMethods(rQuery.append)
exportMethods(rQuery.attr)
exportMethods(rQuery.before)
exportMethods(rQuery.class)
exportMethods(rQuery.find)
exportMethods(rQuery.hasClass)
exportMethods(rQuery.html)
exportMethods(rQuery.insertAfter)
exportMethods(rQuery.insertBefore)
exportMethods(rQuery.prepend)
